/**
 * Block editor styles
 */

/**
 * Posts block css
 */

.wp-block[data-type="wbl-blocks/posts"] {
	background-color: rgba(0,0,0,0.1);
	padding: 16px 24px;
}

.wp-block[data-type="wbl-blocks/posts"] .wbl-block-posts__title {
		opacity: 0.5;
		font-family: inherit;
		font-size: 1.5rem;
		text-align: center;
	}

.wp-block[data-type="wbl-blocks/posts"] .wbl-block-posts__text {
		margin-top: 0;
		opacity: 0.5;
		text-align: center;
	}

/**
 * Test block editor css
 */

.wbl-block-test {
	/* background-color: red; */
}

/**
 * Test block editor css
 */

.wp-block-wbl-section {
	background-color: red;
}
