/**
 * Block editor styles
 */

/**
 * Posts block css
 */

.wp-block[data-type="hwl-blokkendoos/posts"] {
	background-color: #EEEEEE;
}

.wp-block[data-type="hwl-blokkendoos/posts"] .wp-block-hwl-blokkendoos-posts__block-title {
		/* margin: 14px 16px;
		padding-top: 16px;
		padding-bottom: 16px; */
	}

/**
 * Test block editor css
 */

.wp-block-hwl-blokkendoos-test {
	/* background-color: red; */
}
