/**
 * Posts block css
 */

.wp-block[data-type="hwl-blokkendoos/posts"] {
	background-color: rgba(0,0,0,0.1);
	padding: 16px 24px;

	.wp-block-hwl-blokkendoos-posts__block-title {
		opacity: 0.5;
		font-family: inherit;
		font-size: 1.5rem;
		text-align: center;
	}
}
